---
import Layout from '~/layouts/Layout.astro';
import ContactMeShared from '~/components/ContactMeShared.astro';
import ProjectDetails from '~/components/Projects/ProjectDetails.astro';
import Carousel from '~/components/Carousel.astro';
import { projects } from '~/lib/constants';

export function getStaticPaths() {
	return projects.map((projectInfo, index) => {
		return {
			params: { project: projectInfo.title },
			props: { projectInfo, index },
		};
	});
}

const { projectInfo, index } = Astro.props;
---

<Layout title={`${projectInfo.title} project details.`}>
	<div class="page-wrapper">
		<ProjectDetails
			color={projectInfo.color}
			images={projectInfo.images}
			summary={projectInfo.summary}
			title={projectInfo.title}
			spec={projectInfo.specs}
			background={projectInfo.background}
			link={projectInfo.link}
		/>
		<Carousel currentIndex={index} />
		<ContactMeShared />
	</div>
</Layout>

<style>
	.line-break {
		display: none;
	}
	.page-wrapper {
		margin-inline: auto;
		padding-right: 1.7rem;
		padding-left: 1.7rem;
	}

	@media (min-width: 768px) {
		.line-break {
			display: inline-block;
		}
	}
</style>
