---
import Layout from '~/layouts/Layout.astro';
import ContactMeShared from '~/components/ContactMeShared.astro';
import ProjectDetails from '~/components/Projects/ProjectDetails.astro';
import { projects } from '~/lib/constants';

export function getStaticPaths() {
	return projects.map((projectInfo) => {
		return {
			params: { project: projectInfo.title },
			props: { projectInfo },
		};
	});
}

const { projectInfo } = Astro.props;
---

<Layout title={`${projectInfo.title} project details.`}>
	<div class="page-wrapper">
		<ProjectDetails
			images={projectInfo.images}
			summary={projectInfo.summary}
			title={projectInfo.title}
			spec={projectInfo.specs}
			background={projectInfo.background}
		/>
		<ContactMeShared />
	</div>
</Layout>

<style>
	.line-break {
		display: none;
	}
	.page-wrapper {
		margin-inline: auto;
		padding-right: 1.7rem;
		padding-left: 1.7rem;
	}

	@media (min-width: 768px) {
		.line-break {
			display: inline-block;
		}
	}
</style>
